* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100dvh;
    position: relative; 
}

.top {
    background-image: url(sources/pexels-steve-1269968.jpg);
    min-height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.top .overlay {
    position: absolute;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.295);
}

#text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: bisque;
    position: absolute;
    top: 0; 
    background-color: black;
    opacity: 0.8;
}

#text h1 {
    font-weight: 600;
    font-size: 35px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#text .icons {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
}

.intro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10vh 8vh;
}

.intro .rtext {
    color: rgb(224, 245, 88);
    font-size: 38px;
    font-weight: 550;
    padding-right: 25px;
}

.intro .image {
    background-image: url(sources/Rishita_D_O_Ravinder_Kumar.jpg);
    background-size: cover;
    background-position: top;
    height: 200px;
    width: 180px;
    border: 2px solid rgb(224, 245, 88);
    border-radius: 50%;
}

.bottom {
    background-color: beige;
    width: 100%;
}

.more {
    padding: 25px;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
}

.container2 {
    display: flex;
    padding-left: 25px;
}

.b1 {
    width: 40%;
    min-height: inherit;
}

.b1 h1, .b2 h1 {
    text-align: left;
    text-decoration: underline;
    padding-bottom: 5px;
    color: rgb(181, 82, 82);
}

.b1 p, .b2 ul {
    margin: 0;
}

.b2 {
    width: 30%;
    margin: auto;
    text-align: left;
}

li {
    list-style-type: none;
    padding-bottom: 5px;
}

hr {
    margin-top: 10px;
}

.footer {
    background-image: url(sources/rhondak-native-florida-folk-artist-_Yc7OtfFn-0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative; 
}

.footer .overlay {
    font-size: 20px;
    color: beige;
    padding-left: 25px;
    background-color: rgba(0, 0, 0, 0.295);
    width: 100%;
    height: 100%;
}

@media (max-width: 500px) {
    #text {
        flex-direction: column;
        text-align: center;
    }

    .intro {
        flex-direction: column;
        padding: 5vh 2vh;
    }

    .intro .rtext {
        padding-top: 10%;
        font-size: 28px;
        text-align: center;
    }

    .intro .image {
        margin-top: 15%;
        height: 150px;
        width: 150px; /* Adjusted size for better responsiveness */
    }

    .container2 {
        flex-direction: column;
        padding-left: 10px;
    }

    .b1, .b2 {
        width: 100%;
        padding: 10px 5px;
    }

    .b2 {
        margin-top: 20px;
    }
}
